@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light Mode */
body {
  background-color: var(--background-light, #ffffff); /* White for light mode */
  color: var(--foreground-light, #000000); /* Black text for light mode */
}

/* Dark Mode */
html.dark body {
  background-color: var(--background-dark, #09090B); /* Black for dark mode */
  color: var(--foreground-dark, #ffffff); /* White text for dark mode */
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
